<div *ngIf="!deleted" class="container mt-3">
  <h3 class="m-3">Alle Einträge</h3>
    <div class="table-responsive">
      <table class="m-3 table table-striped table-hover">
        <caption>Alle <code> Termin</code></caption>
        <thead>
        <tr>
          <th scope="col ">ID</th>
          <th scope="col ">Datum</th>
          <th scope="col ">Termin</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appointment of appointment; let i=index;">
          <td>{{i+1}}</td>
          <td>{{ appointment.datum}}</td>
          <td>{{ appointment.termin}}</td>
          <td>
            <a [routerLink]="['/appointment', appointment.id]"> <span class=" bi bi-pencil-square px-5 "></span></a>
            <span (click)="delete(appointment.id)" class=" bi bi-trash px-5 "></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
<div *ngIf="deleted" class=" container mt-3 ">
  <h3>Datensatz wurde gelöscht!</h3>
  <button type="button" class="btn btn-secondary" (click)="reload(false)">Zurück zur Tabelle</button>
</div>
