/*.outer {
  position:relative;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: medium;
}

#title {
  position: relative;
  top: 0; bottom: 100%; left: 0; right: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #000000;
}

.button {

  /*
  position: absolute;
  margin: auto;
  display: block;
  width: 25%;
  height: 60px;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  text-align: center;
  
  position: relative;
  display: flex;
  margin: 0 auto 1rem;
  width: 25%;
  height: 60px;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;


}

.inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  opacity: 0.4;
  margin: auto;
}

#LoginLogo {
  position: absolute;
  top:0; bottom: 0; left: 0; right: 0;
  max-width: 200px;
  max-blend-mode: multiply;
}



#username, #password {
  position: center;
  border: black outset;
  border-radius: 10px;
  color: #A5A5A5;
  filter: drop-shadow(0px 4px 4px rgb(0,0,0,0.25));
  top: 50%; bottom: 0; left: 0; right: 0;
}

#errorMessage
{
  display: block;
  width: 100%;
}

#loginbutton {
  border: #79BBE0;
  border-radius: 15px;
  background: #79BBE0;
  color: white;
  filter: drop-shadow(0px 4px 4px rgb(0,0,0,0.25));
}

#loginbutton:hover{
  color: white;
  background-color: #015ac0;
}
*/