<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mein Kalender</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <div class="container-fluid p-5 bg-primary text-white text-center">
      <h1>Mein persönlicher Kalender</h1>
      <p>Trage hier wichtige Termine ein, damit du sie nicht vergisst!</p> 
    </div>
      

    <div class="container" id="Seite1">
      <br><br>
        <form onsubmit="addTodo()" class="form-inline" action="/action_page.php">
          <div class="form-group">
            <label class="sr-only" for="date" id="todofield">Datum</label>
            <input type="date" class="form-control" id="email" placeholder="Datum eingeben ..."  name="date">
          </div>
          <div class="form-group">
            <label class="sr-only" for="text">Termin</label>
            <input type="termin" class="form-control" id="todofield" placeholder="Termin eingeben ..." name="termin">
          </div><br>
          <button type="submit" class="btn btn-primary">Speichern</button>        
        </form>
      </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-6">
          <h3>Termine einfügen und bearbeiten</h3>
          <p>Trage ganz bequem deine wichtigen Termine ein, damit du sie nicht vergisst.</p>
          <img src="./image/foto1.jpg" alt="Kalender" style="width:350px">
      </div>
        <div class="col-sm-6">
          <h3>Überbblick über alle deine Termine</h3>
          <p>Mit einem Klick kannst du dir alle deine Termine ansehen.</p>
          <img src="./image/foto2.jpg" alt="Kalender" style="width:350px">
        </div>
      </div>
    </div>
    

    <div class="container" id="Seite2">
      <h2>Alle Termine</h2>
   
      

      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Termin</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.1.1111</td>
            <td>lkjhgxioctzv</td>
          </tr>
        </tbody>
      </table>



      
    </div>




</body>
</html>


