
<form [formGroup]="detailForm" novalidate (ngSubmit)="onsubmit()" >
  <mat-card class="shipping-card">
    <mat-form-field class="full-width">
      <mat-card-header>
        <mat-card-title>Termine Hinzufügen</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="mb-3 row">
          <label class="col-2 col-form-label" for="datum">Datum</label>
          <div class="col-10">
            <input type="date" class="form-control" id="datum" placeholder="Datum" >
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-2 col-form-label" for="termin">Termin</label>
          <div class="col-10">
            <input type="text" class="col-10 form-control" id="termin" placeholder="Termin"
            formControlName="terminControl" />
          </div>
        </div>
        <div class="row ">
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Speichern</button>
            <button mat-raised-button color="primary" type="submit">Abbrechen</button>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </mat-form-field>
  </mat-card>
</form>

